{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-strongly-recommended",
        "plugin:tailwindcss/recommended"
    ],
    "overrides": [
        {
            "files": ["*.vue"],
            "parser": "vue-eslint-parser"
        }
    ],
    "rules": {
        "vue/singleline-html-element-content-newline": "off",
        "vue/multiline-html-element-content-newline": "off",
        "vue/multi-word-component-names": "off",
        "vue/max-attributes-per-line": "off",
        "vue/html-self-closing": "off",
        "vue/no-v-html": "off",
        "vue/html-indent": ["error", 4],
        "no-undef": "off",
        "tailwindcss/no-custom-classname": "off",
        "quotes": ["error", "double"],
        "semi": ["error", "never"],
        "no-trailing-spaces": ["error", { "ignoreComments": true }]
    }
}